streamlit
PyPDF2
python-docx
langchain
faiss-cpu
python-dotenv
huggingface-hub
instructorEmbedding
sentence-transformers
langchain_community
langchain_huggingface
langchain_groq
chromadb
